.logo__cursor {
  height: 0.2rem;
  margin-top: 0.8rem;
}

@keyframes cursor{
  0%      { opacity:0 }
  0.01%   { opacity:1 }
  50%     { opacity:1 }
  50.01%  { opacity:0 }
  100%    { opacity:0 }
}

.logo__mark {
  visibility: hidden;
  margin: 0px;
}

pre code {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */
}

.banner-404 h1 {
  margin: 0;
}