*, ::after, ::before {
    box-sizing: border-box;
  }

.collapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }

  .collapse.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
  }
  
  .block {
    margin-top: 10px;
    padding: 0;
  }

  .block__content {
    border: 1px solid;
    padding: 1.5em;
    height: 100%;
  }