#newStatsDiv {
  background-color: #393a3d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 1rem;
}

.cell {
  place-self: center;
  margin: 0.5rem;
}

.statText {
  user-select: none;
}

.tableHeader {
  grid-row: 1 / span 2;
}

.statsImage {
  width: 80%;
}
