<div id="newStatsDiv">
    <div class="cell tableHeader">All Time</div>
    <img class="cell" src="/img/referee-plain-anon-dual-pocket.svg" alt="Referee jersery" draggable="false" title="Number of games refereed">
    <img class="cell" src="/img/whistle.svg" alt="Whistle" draggable="false" title="Number of games as the middle referee">
    <img class="cell" src="/img/giving-yellow-card.svg" alt="Giving a yellow card" draggable="false" title="Yellow cards per game">
    <img class="cell" src="/img/giving-red-card.svg" alt="Giving a red card" draggable="false" title="Red cards per game">
    <div class="cell statText">9.45</div>
    <div class="cell statText">9.45</div>
    <div class="cell statText">9.45</div>
    <div class="cell statText">9.45</div>
</div>
<!-- <div id="infoRow" class="row">
    <div class="column info container">Per game refereed</div>
    <div class="column infoSeperator container"></div>
    <div class="column info container">Per middle refereed</div>
</div> -->
<script type="text/javascript">

    // function createStats(json) {
    //     let finalHtml = `${createCollapsableHtml(json)}`;

    //     document.getElementById("statsDiv").innerHTML = finalHtml;
    // }

    function createCollapsableHtml(json) {
        let html = "";
        let count = 0;
        json.forEach(element => {
            html += createButton(element["Time Period"], count, false);
            html += `<div class="block collapse block${count}"><div class="block__content">${createBlockContent(element)}</div></div>`;
            count++;
        });
        return html;
    }

    function createBlockContent(jsonElement) {
        let html = "";
        //     <div>
        //         <div>
        //             <img src="/img/yellow-card.svg" alt="Yellow cards per game" title="Yellow cards per game" width="100" height="100"/>
        //         </div>
        //         <div>
        //             ${jsonElement["Yellow Cards/Game"]}
        //         </div>
        //     </div>
        // `;

        for (var key in jsonElement) {
            value = jsonElement[key]
            
            html += `<div><div><img src="/img/yellow-card.svg" alt="${key}" title="${key}" width="100" height="100"/></div><div>${value}</div></div>`;
        };
        console.log(html)
        return html;
        // return JSON.stringify(jsonElement);
    }

    // function createSectionContents(json) {
    //     let html = ""
    //     let count = 0
    //     json.forEach(element => {
    //         html += `<div class="block collapse block${count++}"><div class="block__content">${JSON.stringify(element)}</div></div>`
    //     })
    //     return html
    // }

    // function createButtons(json) {
    //     let html = ""
    //     let count = 0
    //     json.forEach(element => {
    //         html += createButton(element["Time Period"], count++, false)
    //     });

    //     // html += createButton("", "", true)
    //     return html
    // }

    function createButton(timePeriod, count, final) {
        if (!final) {
            return `<button class="btn btn-primary btn__first" data-toggle="collapse" data-target=".collapse.block${count++}" data-text="Collapse">Toggle ${timePeriod}</button>`
        } else {
            return `<button class="btn btn-primary btn__first" data-toggle="collapse" data-target=".collapse" data-text="Collapse">Toggle All Sections</button>`
        }
    }

    function loadJSON(callback) {
        let xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', {{ "json/refereeStats.json" | relURL }}, true);
        xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                callback(xobj.responseText);
            }
        };
        xobj.send(null);  
    }

    function main() {
        loadJSON(function (response) {
            // Parse JSON string into object
            const json = JSON.parse(response);
            createStats(json);
            collapseFunctionality();
        });
    }

    main()

    // Need this in a function so it can be called after json data is successfully retrieved
    function collapseFunctionality() {
        // Handler that uses various data-* attributes to trigger
        // specific actions, mimicing bootstraps attributes
        const triggers = Array.from(document.querySelectorAll('[data-toggle="collapse"]'));

        window.addEventListener('click', (event) => {
            const element = event.target;
            if (triggers.includes(element)) {
                const selector = element.getAttribute('data-target');
                collapse(selector, 'toggle');
            }
        }, false);


        const fnmap = {
            'toggle': 'toggle',
            'show': 'add',
            'hide': 'remove'
        };

        const collapse = (selector, cmd) => {
            const targets = Array.from(document.querySelectorAll(selector));
            targets.forEach(target => {
                target.classList[fnmap[cmd]]('show');
            });
        }
    }

</script>